<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main id="mk-email-main">
        <section id="mk-email-card">
            <div id="mk-image-header">
                <svg width="100px" height="100px" viewBox="0 0 100 100" id="icon" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title>email</title><path d="M87.5 18.75H12.5A6.25 6.25 0 0 0 6.25 25V75a6.25 6.25 0 0 0 6.25 6.25H87.5a6.25 6.25 0 0 0 6.25 -6.25V25A6.25 6.25 0 0 0 87.5 18.75ZM80.625 25 50 46.188 19.375 25ZM12.5 75V27.844l35.719 24.719a3.125 3.125 0 0 0 3.562 0L87.5 27.844V75Z" transform="translate(0)"/><path id="_Transparent_Rectangle_" data-name="&amp;lt;Transparent Rectangle&amp;gt;" class="cls-1" width="32" height="32" d="M0 0H100V100H0V0z"/></svg>
            </div>
            <div id="mk-email-content">
                <h1>Hi, Alexander Guardado!</h1>
                <h3>We are working on your new account</h3>

                <p>
                    Please verify that yout email address is {{email}}
                </p>

                <div class="mk-row">
                    <a href="{{url}}">Click to verify</a>
                </div>

                <small>
                    If it wasn't you who submitterd your email address. We are sorry; please simply ignore this email and don't click on the button
                </small>
            </div>
        </section>
    </main>

    <style>
        #mk-email-main {
            width: 100%;
            padding: 80px 0px;
            background-color: #F0F0F0;
            margin: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #mk-email-card {
            width: 90%;
            max-width: 800px;
            margin: auto;
            background-color: white;
            -webkit-box-shadow: 0px 10px 46px -26px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 10px 46px -26px rgba(0,0,0,0.75);
            box-shadow: 0px 10px 46px -26px rgba(0,0,0,0.75);
        }

        #mk-image-header {
            width: 100%;
            height: 120px;
            background-color: #FFC14C;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #mk-email-content {
            padding: 30px;
            font-family: Tahoma, sans-serif;
            text-align: center;
        }
        #mk-email-content>h1 {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 1.8rem;
            margin-bottom: 0px;
            line-height: 1.9rem;
        }
        #mk-email-content>h3 {
            margin-top: 5px;
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }
        #mk-email-content>p {
            font-size: 1.1rem;
            color: #404040;
        }
        #mk-email-content .mk-row {
            margin: 50px auto;
        }
        #mk-email-content a{
            background: #F2C067;
            text-decoration: none;
            font-size: 1rem;
            padding: 12px 50px;
            color: black;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 10px;

            -webkit-box-shadow: 0px 7px 20px -10px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 7px 20px -10px rgba(0,0,0,0.5);
            box-shadow: 0px 7px 20px -10px rgba(0,0,0,0.5);
        }
        #mk-email-content>small {
            display: block;
            font-style: italic;
            font-size: .8rem;
            color: #404040;
            margin-top: 1rem;
        }
    </style>
</body>
</html>